{% extends "index.html" %}

{% block title %}{{ author }} | {{ SITENAME }}{% endblock title %}

{% block breadcrumb %}
<a href="/" class="item"><i class="home icon"></i></a>
<span class="active item" data-content="{{ tag }}"><i class="user icon"></i> {{ author }}</span>
{% endblock breadcrumb %}

{% block feeds %}
{% if AUTHOR_FEED_ATOM %}{# TO DO : formatage ur categorie #}
<a href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_ATOM | format(author) }}" type="application/atom+xml" rel="alternate" class="item">
  <i class="user icon"></i><i class="feed icon"></i>
</a>
{% elif AUTHOR_FEED_RSS %}
<a href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_RSS | format(author) }}" type="application/rss+xml" rel="alternate" class="item">
  <i class="user icon"></i><i class="feed icon"></i>
</a>
{% endif %}
{% endblock feeds %}
